#Settings
/.env
/.idea
.DS_Store

# Dev Libraries
/node_modules
/vendor

#Scripts
scripts/.env.sh

#Assets
web/uploads
web/bucket

#Config
/config/project
/config/license.key
/config/license.key.1

#ddev
.ddev/*
!.ddev/config.yaml

#Compilation
/webpack-settings/*
!/webpack-settings/builders-config/
!/webpack-settings/pages.js

