.header {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.22);
}
.header__top {
  background-color: var(--white);
}
.header__top--icon svg {
  fill: var(--dark);
}
.header__top--icon:hover svg {
  fill: #2f2434;
}
.header__nav {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(47, 36, 52) 47%, rgb(0, 0, 0) 97%);
}
.header__nav--item a,
.header__nav--item a:hover {
  color: var(--white);
  text-transform: uppercase;
  font-size: 17px;
}
