{% set dateOfEvent = '' %}
{% set optionsBtn = ['all', 'next', 'past'] %}
{% set section = section ?? 'all' %}
{% set section = section in optionsBtn ? section : 'all' %}

{% if section == 'next' %}
  {% set dateOfEvent = ">= #{now|date('Y-m-d')}" %}
{% endif %}

{% if section == 'past' %}
  {% set dateOfEvent = "< #{now|date('Y-m-d')}" %}
{% endif %}

{% set entries =
  craft.entries.section('events').with(['poster']).orderBy(
    'dateOfEvent desc'
  ).limit(
    6
  ).dateOfEvent(
    dateOfEvent
  )
%}

{% set page = page ?? 1 %}
{% set pageInfo = sprig.paginate(entries, page) %}
{% set events = pageInfo.pageResults %}

{% set labelsOptionsBtn = {
  all: 'Todos',
  next: 'Próximos',
  past: 'Finalizados'
} %}

<div class="container">
  <div id="eventsApp" class="py-4">
    <ul class="p-0 m-0 my-5 pb-2 d-flex justify-content-center flex-wrap align-items-center list-not-bullets">
      <li class="me-3" style="font-size:25px;"><strong>Filtros:</strong></li>
      {% for btn in optionsBtn %}
        <li class="me-3">
          <button sprig
            s-select="#eventsApp"
            s-target="#eventsApp"
            s-swap="outerHTML"
            s-val:section="{{ btn }}"
            class="btn btn-outline-black my-2 px-4 py-1 {{
            section == btn
              ? 'active'
            }}">
            {{ labelsOptionsBtn[btn] }}
          </button>
        </li>
      {% endfor %}
    </ul>

    <div class="row gy-4">
      {% set nowDate = now|date('Y-m-d') %}
      {% for event in events %}
        <div class="col-12 col-md-6 col-lg-4">
          {% include 'partials/cardEvent/' with {
            nowDate: nowDate,
            location: event.eventLocation,
            poster: event.poster[0] ?? null,
            url: event.url,
            eventDate: event.dateOfEvent|date('Y-m-d'),
            tags: event.tags.collect() ?? []
          } %}
        </div>
      {% endfor %}
    </div>

    {% include 'partials/bodyEvents/utils/pagination' %}
  </div>
</div>

{% set type = 'bodyEvents' %}
{% set group = 'partial' %}

{% if type and group %}
  {% include 'quarks/_loadAssets' with {
    assets: [
      {
        type: 'css',
        path: pathElements|format('css', "#{group}s", "#{type}.#{group}.css"),
        preload: true
      },
      {
        type: 'js',
        path: pathElements|format('js', "#{group}s", "#{type}.#{group}.js"),
        async: true
      }
    ]
  } only %}
{% endif %}
