.mastheadCoverPage {
  overflow: hidden;
  min-height: 500px;
  color: var(--white);
  position: relative;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(47, 36, 52, 1) 47%,
    rgba(0, 0, 0, 1) 97%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(47, 36, 52, 1) 47%,
    rgba(0, 0, 0, 1) 97%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(47, 36, 52, 1) 47%,
    rgba(0, 0, 0, 1) 97%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  &__title {
    color: var(--white);
    font-size: 1rem;
    font-size: clamp(1rem, 1.2rem + 1vw, 2.2rem);
    font-weight: 700;
    @media (max-width: 991.98px) {
      text-align: center;
      p {
        display: inline !important;
      }
    }
  }
}
