:root {
  --dark: #010101;
  --white: #ffffff;
  --bs-body-bg: #ffff;
  --bs-body-color: #212529;
  --bs-border-color: #000000;
  --bs-danger-text-emphasis: #58151c;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-danger-text-emphasis: #58151c;
}
