.headroom {
  position: fixed;
  width: 100%;
  top: 0;
  will-change: transform;
  transition: transform 200ms linear;
  z-index: 50;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
