@use "../utilities";

:root {
  --bs-border-width: 1px;
  --bs-border-radius: 18px;
}
* {
  box-sizing: border-box;
  &:focus {
    box-shadow: 0 0 0 0 !important;
    outline: -webkit-focus-ring-color auto 0px;
  }
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-border-radius: 0.375rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
  --bs-alert-border-radius: var(--bs-border-radius);
  --bs-alert-link-color: inherit;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
  p {
    margin: 0 !important;
  }
}

.alert-primary {
  --bs-alert-color: #052c65;
  --bs-alert-bg: #cfe2ff;
  --bs-alert-border-color: #9ec5fe;
  --bs-alert-link-color: #052c65;
}
.alert-primary {
  --bs-alert-color: #052c65;
  --bs-alert-bg: #cfe2ff;
  --bs-alert-border-color: #9ec5fe;
  --bs-alert-link-color: #052c65;
}

.alert-danger {
  --bs-alert-color: var(--bs-danger-text-emphasis);
  --bs-alert-bg: var(--bs-danger-bg-subtle);
  --bs-alert-border-color: var(--bs-danger-border-subtle);
  --bs-alert-link-color: var(--bs-danger-text-emphasis);
}

a,
a:focus,
a:hover {
  outline: none;
  text-decoration: none !important;
  font-weight: 600;
}

.customMain {
  position: relative;
  overflow: hidden;
}

main,
footer,
header {
  @media (min-width: 3000px) {
    max-width: 1320px !important;
    width: 100%;
    margin: 0 auto;
  }
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 65px; /* set to the height of your header */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0.5px;
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: var(--dark);
}

footer {
  margin-top: auto;
}

.img-absolute {
  @extend %img-absolute;
}

.list-not-bullets {
  list-style: none !important;
}

img:not([src]):not([srcset]) {
  visibility: hidden;
}

@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

img:not([alt]) {
  border: 4px red dashed !important;
}
