@use "../utilities";

:root {
  --bs-border-width: 1px;
  --bs-border-radius: 13px;
}
* {
  box-sizing: border-box;
  &:focus {
    box-shadow: 0 0 0 0 !important;
    outline: -webkit-focus-ring-color auto 0px;
  }
}

a,
a:focus,
a:hover {
  outline: none;
  text-decoration: none !important;
  font-weight: 600;
}

.customMain {
  position: relative;
  overflow: hidden;
}

main,
footer,
header {
  @media (min-width: 3000px) {
    max-width: 1320px !important;
    width: 100%;
    margin: 0 auto;
  }
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 65px; /* set to the height of your header */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0.5px;
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: var(--dark);
}

footer {
  margin-top: auto;
}

.img-absolute {
  @extend %img-absolute;
}

.list-not-bullets {
  list-style: none !important;
}

img:not([src]):not([srcset]) {
  visibility: hidden;
}

@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

img:not([alt]) {
  border: 4px red dashed !important;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}
