.contactForm {
  overflow: hidden;
}
@media (min-width: 1600px) {
  .contactForm {
    max-width: 1320px;
    margin: 0 auto;
  }
}
.contactForm__title {
  font-size: 30px;
  font-weight: 600;
}
.contactForm__contentImage {
  position: relative;
  min-height: 450px;
}
.contactForm .list-unstyled {
  list-style: none;
  padding: 0px;
  margin: 0.5rem 0px 0px 0px !important;
}
