{% extends '_layouts/_element.twig' %}

{# Properties layout #}
{% set type = type ?? null %}
{% set group = 'partial' %}

{% block element %}
  {% block partial %}
    <div class="container">{% include 'quarks/_infoElement' %}</div>
  {% endblock %}
{% endblock %}
