{% extends '_layouts' %}

{% block main %}
  <div class="container">
    Lorem minima quisquam suscipit eum numquam Commodi blanditiis iure eligendi
    suscipit atque Ipsum corrupti ea qui harum molestias, reiciendis! Molestiae
    voluptatum cum ex ut magnam? Expedita eaque eum ex amet.
  </div>
{% endblock %}

{% block sideBar %}{% endblock %}
