.eventsBody {
  &__pagination {
    .btn {
      --bs-btn-font-size: 14px;
    }

    &--item {
      span.active {
        font-size: 19px;
        padding: 0.2rem 0.5rem;
        background-color: var(--dark);
        color: var(--white);
        border-radius: 6px;
      }
      a {
        cursor: pointer;
      }
    }
  }
}
